<!--施工中卡片Start-->
<mat-card>
    <mat-card-header>
        <mat-card-title>正在施工中...</mat-card-title>
        <mat-card-subtitle>working...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-actions>
        <a href="https://test.aqyzit.tk" mat-raised-button color="primary" >===带我去旧官网===</a>
    </mat-card-actions>
</mat-card>
<!--施工中卡片End-->
<div class="outerBorder">
            <h1 class="title">安庆一中精英信息技术社</h1>
            <h4 class="subtitle">欢迎您的加入</h4>
            <img class="logo" src="assets/logo.png" alt="logo">
</div>